body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat";
  font-size: 24px;
  margin: 0;
}

section {
  margin: auto;
  max-width: 1240px;
}
@media screen and (max-width: 1240px) {
  section {
    margin: 0px 20px;
  }
}

a {
  color: #000000;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
  margin: 45px auto 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
}
@media screen and (max-width: 1240px) {
  .header {
    margin: 45px 20px 50px 20px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    margin: 20px 20px 27px 20px;
  }
}
.header .logo .logo__img {
  width: 211px;
}
@media screen and (max-width: 768px) {
  .header .logo .logo__img {
    width: 145px;
  }
}
@media screen and (max-width: 350px) {
  .header .logo .logo__img {
    width: 125px;
  }
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 57px;
}
@media screen and (max-width: 768px) {
  .header .nav {
    gap: 26px;
  }
}
@media screen and (max-width: 768px) {
  .header .nav .nav__link {
    font-size: 12px;
    text-transform: uppercase;
  }
}
.header .nav .nav__link--current {
  text-decoration: underline;
}

.banner {
  height: 223px;
  margin-bottom: 43px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .banner {
    margin-bottom: 22px;
    box-shadow: none;
  }
}
.banner .banner__img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  filter: brightness(40%);
  z-index: 1;
}
.banner .banner__title {
  font-size: 48px;
  padding: 16px;
  color: #ffffff;
  position: relative;
  z-index: 2;
  font-weight: 700;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000, -1px -1px #000000, 1px 1px #000000, 1px -1px #000000, -1px 1px #000000, 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 768px) {
  .banner .banner__title {
    font-size: 24px;
  }
}

.cardList {
  background-color: #F6F6F6;
  padding: 56px 55px 43px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 340px));
  grid-gap: 55px;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .cardList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .cardList {
    grid-template-columns: repeat(1, auto);
    padding: 0;
    background-color: #ffffff;
    grid-gap: 20px;
  }
}
.cardList .cardList__card {
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .cardList .cardList__card {
    height: 255px;
  }
}
.cardList .cardList__card .cardList__card__link {
  height: 100%;
  position: relative;
  display: block;
}
.cardList .cardList__card .cardList__card__link .cardList__card__link__title {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  z-index: 2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 0%, rgba(4, 4, 4, 0.2) 50%, rgba(0, 0, 0, 0.5) 80%);
}
.cardList .cardList__card .cardList__card__link .cardList__card__link__img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-height: 340px;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .cardList .cardList__card .cardList__card__link .cardList__card__link__img {
    max-height: unset;
    width: 100%;
  }
}
@media screen and (max-width: 421px) {
  .cardList .cardList__card .cardList__card__link .cardList__card__link__img {
    max-height: 255px;
    width: auto;
  }
}

.collapse--about {
  max-width: 1023px;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .collapse--about {
    gap: 20px;
  }
}

.collapse--housingDetails {
  max-width: 100%;
  flex-direction: row;
  gap: 76px;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .collapse--housingDetails {
    gap: 20px;
    flex-direction: column;
  }
}

.collapse {
  margin: auto;
  display: flex;
}
.collapse .collapse__element {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.collapse .collapse__element .collapse__element__title {
  width: 100%;
  background-color: #FF6060;
  padding: 10px 20px 8px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 300ms linear;
}
.collapse .collapse__element .collapse__element__title .collapse__element__title__text {
  color: #ffffff;
  font-weight: 700;
}
.collapse .collapse__element .collapse__element__title .collapse__element__title__img {
  width: 32px;
  height: 32px;
  transform: rotate(180deg);
  cursor: pointer;
  transition: all 300ms linear;
}
.collapse .collapse__element .collapse__element__title .collapse__element__title__img--hidden {
  transform: rotate(0deg);
}
.collapse .collapse__element .collapse__element__description {
  box-sizing: border-box;
  background-color: #F6F6F6;
  padding: 15px 15px;
  font-size: 18px;
  width: 100%;
  overflow: hidden;
}
.collapse .collapse__element .collapse__element__description--hidden {
  height: 0px;
  padding: 0 15px;
}

.pageError {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 139px;
  margin: 139px 0 139px 0;
}
@media screen and (max-width: 768px) {
  .pageError {
    gap: 113px;
  }
}
.pageError .pageError__title {
  color: #FF6060;
  font-size: 288px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .pageError .pageError__title {
    font-size: 96px;
  }
}
.pageError .pageError__description {
  color: #FF6060;
  font-size: 36px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .pageError .pageError__description {
    font-size: 18px;
  }
}
.pageError .pageError__action {
  font-size: 18px;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .pageError .pageError__action {
    font-size: 14px;
  }
}

.footer {
  margin-top: 50px;
  width: 100%;
  height: 209px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  padding: 66px 20px 29px 20px;
  box-sizing: border-box;
  background-color: #000000;
}
@media screen and (max-width: 768px) {
  .footer {
    margin-top: 27px;
  }
}
.footer .footer__logo {
  width: 122px;
  height: auto;
}
.footer .footer__copyright {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .footer .footer__copyright {
    font-size: 12px;
  }
}

.carousel {
  width: 100%;
  height: 415px;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}
@media screen and (max-width: 768px) {
  .carousel {
    height: 255px;
  }
}
.carousel .carousel__picture {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /*@include respond-to(mobile) {
      max-height: 255px;
      width: auto;
  }*/
}
.carousel .carousel__arrow {
  z-index: 2;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .carousel .carousel__arrow {
    width: 24px;
    height: 24px;
  }
}
.carousel .carousel__arrow--backward {
  left: 0;
}
.carousel .carousel__arrow--forward {
  right: 0;
}
.carousel .carousel__dial {
  z-index: 2;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 25px;
  font-size: 18px;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .carousel .carousel__dial {
    display: none;
  }
}

.housing {
  display: flex;
  flex-direction: column;
}
.housing .housing__details {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 0;
}
.housing .housing__details .housing__details__header {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .housing .housing__details .housing__details__header {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.housing .housing__details .housing__details__header .housing__details__header__left {
  display: flex;
  flex-direction: column;
}
.housing .housing__details .housing__details__header .housing__details__header__left .housing__details__header__left__title {
  color: #FF6060;
  font-size: 36px;
  margin: 0;
}
.housing .housing__details .housing__details__header .housing__details__header__left .housing__details__header__left__location {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .housing .housing__details .housing__details__header .housing__details__header__left .housing__details__header__left__location {
    margin-top: 5px;
  }
}
.housing .housing__details .housing__details__header .housing__details__header__left .housing__details__header__left__tags {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .housing .housing__details .housing__details__header .housing__details__header__left .housing__details__header__left__tags {
    margin-top: 10px;
  }
}
.housing .housing__details .housing__details__header .housing__details__header__left .housing__details__header__left__tags .housing__details__header__left__tags__elt {
  background-color: #FF6060;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  padding: 3px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.housing .housing__details .housing__details__header .housing__details__header__right {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .housing .housing__details .housing__details__header .housing__details__header__right {
    margin-top: 16px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.housing .housing__details .housing__details__header .housing__details__header__right .housing__details__header__right__host {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 21px 0;
  justify-content: flex-end;
}
.housing .housing__details .housing__details__header .housing__details__header__right .housing__details__header__right__host .housing__details__header__right__host__name {
  text-align: right;
  font-size: 18px;
  color: #FF6060;
}
.housing .housing__details .housing__details__header .housing__details__header__right .housing__details__header__right__host .housing__details__header__right__host__picture {
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.housing .housing__details .housing__details__header .housing__details__header__right .housing__details__header__right__rating {
  display: flex;
  align-items: center;
}
.housing .housing__details .housing__details__description {
  margin-top: 24px;
}
@media screen and (max-width: 768px) {
  .housing .housing__details .housing__details__description {
    margin-top: 13px;
  }
}

/*# sourceMappingURL=style.css.map */
